* {
  box-sizing: border-box;
  max-width: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
  margin-left: 16px;
}
img {
  height: 300px;
  width: 360px;
}
/* ul {
  list-style: none;
}
.img-list {
  display: flex;
  flex-direction: column;
} */
